body { margin:0; font-family:Arial }
#panel {
  width:400px;
  position:fixed;
  left:0; top:0; bottom:0;
  background:#fff;
  overflow:auto;
  padding:10px;
}
#view {
  position:fixed;
  left:400px; right:0; top:0; bottom:0;
}
table { width:100%; font-size:12px; }
input { width:60px }
